<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="cyan">
    <h1>{{name}}'s Favorites</h1>
    <center>
        <div>
            <h2>Fav Food {{dish}}</h2>
            <a href="https://i.pinimg.com/originals/a4/73/50/a4735011652f407cdf25a1e7270ed37e.jpg"></a>
        </div>
        <div>
            <h2>Fav Animal {{Animal}}</h2>
            <a href="Lion.jpg"></a>
        </div>
    </center>
    
</body>
</html>